[Unit]
Description=CheckMeIn Application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/checkmein
ExecStart=/usr/bin/node checkin-app/.next/standalone/checkin-app/server.js
Restart=always

[Install]
WantedBy=multi-user.target
